//color
$color-main: #3F51B5;
$color-active: #E81919;
$color-font: #333333;
$bg-light: #EFEFEF;
$navbar-bg: rgba(190, 190, 190, 0.7);
$footer-bg: rgb(29, 29, 29);

//variable
$navbar-width: 200px;